<div class="container">
  <h2>Store Page</h2>
  <h2>{{storeName}}</h2>

  <a href="#/cart">View Cart</a>

  Search All Products:

  <input type="text" ng-model="name" />

    <!-- <div ng-repeat="product in products | filter:name">
      <div class = "product-card">
        <div class="name">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.description}}</div>
      </div>
    </div> -->




  <div ng-controller = "StoreController">
    {{product.products[0].name}}
    {{product.products[0].price}}
    {{product.products[0].description}}
  </div>

  <a href="#/home">Back</a>
</div>
