body {
  font-family: sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

#store-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.product-card {
  float: left;
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 15px;
}

.product-name {
  font-weight: bold;
  font-size: 1.5em;
}

.image-card {
  width: 100px;
}

/* Product Detail Page */

.detail-wrapper{
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.full-image {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.detail-name, .detail-description, .detail-price {
  font-weight: bold;
  font-size: 1.5em;
}

.purchase-wrapper {
  border: solid 1px red;
}

/* Shopping Cart view */

#cart-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.cart-name, .cart-price, .cart-quantity {
  display: inline-block;
  width: 25%;
}

.cart-img {
  width: 50px;
}

/*<------------------------hero image landing page*/

.heroic {
  background: black;
}

.heroImage {
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  position: absolute;
}

.heroWrap {
  position: relative;
}

.heroText {
  z-index: 90;
  position: absolute;
  color: red;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Luckiest Guy', cursive;
  height: 600px;
  width: 200px;
  top: 280px;
  margin-left: 20px;
}

.signInHero {
  z-index: 80;
  height: 80px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  radius: 1em 1em 1em 1em;
  position: absolute;
  background-color: rgb(108, 122, 137);
  right: 0;
}

.signInput {
  background-color:rgba(75, 92, 103, 1);
  float: right;
  height: 96px;
  width: 300px;
  text-align: center;
  color: rgb(230,230,230);
  z-index: 91;
  right: 0;
  margin-top: 80px;
  position: absolute;
}

.signInHeroText {
  margin-top: 20px;
  margin-right: 2%;
  color: rgb(32, 177, 230);
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
}
